body {
    margin: 0;
}

.first-block {
    display: inline-block;
    border:red 5px solid;
    width: 50%;
    height: 150px;
    box-sizing: border-box;
}

.second-block {
    border:green 5px solid;
    width: 50%;
    height: 50%;
    /*padding: 10px;*/
    /*margin: 5%; */
    /*padding: 5%; /* проценты от ШИРИНЫ контента*/
    box-sizing: border-box;
}

.center {
    border: 2px solid blue;
    width: 500px;
    height: 200px;
    margin: 0 auto;
    background: yellowgreen;
}